<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/results.css'/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <title>Trash or Not</title>
</head>
<body>

    <div class="col-md-3 listContainer">
        <div class="listRowHeader listRow">
            <div class="rowHeader"> <%= summonerA %> </div>
            <div class="rowHeader"> champion </div>
            <div class="rowHeader"> <%= summonerB %> </div>
        </div>

        <% for(result of resultList) { %>
        <div class="listRowContent listRow" id=<%=result.championName%>>
            <div class="rowItem">
                    <% if(result.winner > 0){ %>
                    Winner
                    <% } else if(result.winner < 0) { %>
                    Loser
                    <% }  else {%>
                    Tie
                    <% } %>

                </div>
                <div class="rowItem"> <%= result.championName %> </div>
                <div class="rowItem">
                    <% if(result.winner < 0){ %>
                    Winner
                    <% } else if(result.winner > 0) { %>
                    Loser
                    <% }  else {%>
                    Tie
                    <% } %>
            </div>
        </div>
        <% } %>



    </div>

    <div class="col-md-9 resultsContainer">

        <div class="congratsView" >
            <% if(winner > 0){ %>
            <h1>Congrats <%= summonerA %> you are not trash! </h1>
            <% } else if(winner < 0) { %>
            <h1> Congrats <%= summonerB %> you are not trash! </h1>
            <% }  else {%>
            <h1> Tie </h1>
            <% } %>
        </div>
        <% for(result of resultList) { %>
        <div class="rightContainerContentPanel" id=<%="result"+result.championName%> >
            <% for(stat of result.statList) {%>
                <div>
                    category = <%=stat.statInfo.category %>
                    <div>
                        summonerA = <%=stat.statInfo.summonerAStat %>
                    </div>
                    <div>
                        summonerB =<%=stat.statInfo.summonerBStat %>
                    </div>
                    <hr>
                </div>
            <%}%>
        </div>
        <%}%>
    </div>



</body>
<script>
    $(document).ready(function() {
        $(".listRow").click(function () {
            var attr = $(this).attr('id');
            $(".rightContainerContentPanel").hide();
            $(".congratsView").hide();
            $("#"+"result"+attr).toggle();
        });
    });
</script>
</html>